<% if @errors %>
<ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<%= form_with model: list, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %><br>
  <%= f.label :description %>
  <%= f.text_area :description, required: true %><br>
  <%= f.collection_check_boxes :book_ids, Book.sort_by_title, :id, :title %><br>
  
  <% if false %>
  <%= f.text_field :book_title, list: "books_autocomplete" %>
  <datalist id="books_autocomplete">
    <% Book.all.each do |book| %>
      <option value="<%= book.title %>">
     <% end %>
  </datalist>  
  <% end %>
  
  <%= f.submit %>
<% end %>