<h1>Sign Up</h1>

<% if @errors %>
<ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
<ul>
<% end %>

<%= form_with model: @user, local: true do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit %>
<% end %>

<%= link_to "Welcome Page", root_path %>

