<h1 class="pt-3 display-4 text-center bg-light text-dark">The Book Nook Collection:</h1>


 <%= form_tag(books_path, method: :get) do %>
  <p class="text-center"><%= text_field_tag :search, nil, placeholder: 'Search by Title' %>
  <%= submit_tag ("Search") %></p>
<% end %>

<% if @search %>
  <% if @books.empty? %>
    <h3>There are no books by that title.</h3>
  <% else %>
 <table class="table table-hover" >
  <thead class="thead-dark">
      <tr>
          <th class="pl-5">Book Title</th>
          <th class="pr-5">Author</th>
          <th class="pl-5 ">Year Published</th>
      </tr>
  </thead>

  <% @books.each do |book| %>
      <tbody>
        <tr>
          <td class="pl-5"><%= link_to book.title, book, class: 'text-info' %></td>
          <td class="pr-5"><%= display_author(book.author) %></td>
          <td class="pl-5"><%= book.year_published %></td>
        </tr>
      </tbody>
  <% end %>
</table>
  <% end %>
<% else %>

 <table class="table table-hover" >
  <thead class="thead-dark">
      <tr>
          <th class="pl-5">Book Title</th>
          <th class="pr-5">Author</th>
          <th class="pl-5 ">Year Published</th>
      </tr>
  </thead>

  <% @books.sort_by_title.each do |book| %>
      <tbody>
        <tr>
          <td class="pl-5"><%= link_to book.title, book, class: 'text-info' %></td>
          <td class="pr-5"><%= display_author(book.author) %></td>
          <td class="pl-5"><%= book.year_published %></td>
        </tr>
      </tbody>
  <% end %>
</table>

<% end %>

<%# if @books.present? %>
  <%#= paginate(@books) %>
<%# end %>

