<h1>Here are all the Books!</h1>

<%# if flash[:notice] %>
   <%#= flash[:notice] %>
 <%# end %>

 <%= form_tag(books_path, method: :get) do %>
  <%= text_field_tag :search, nil, placeholder: 'Search by Title' %>
  <%= submit_tag ("Search") %>
<% end %>

<% if @search %>
    <%= link_to @book.title, book_path(@book) %>
<% else %>

<ul>
  <% @books.sort_by_title.each do |book| %>
    <li><%= link_to book.title, book %></li>
  <% end %>
</ul>

<% end %>