<h1>Book Title: <%= @book.title %></h1>
<h2>Author: <%= @book.author %></h2>
<h3>Year Published: <%= @book.year_published %></h3>
<h3>Page Count: <%= @book.page_count %></h3>
<h4>Description:</h4>
<p><%= @book.description %></p>

<div class="p-4 item-hl">
  <% if !@book.reviews.present? %>
    <p class="text-center">Be the first to review this book!</p>
  <% else %>

  <div class="card border-dark mb-4" style="width: 25 rem;" style="display:flex">
    <p class="card-header text-center bg-dark text-warning"> Book Nook Rating: <%= @book.reviews.average(:rating).round %></p>
    <div class="card-body text-center">
      <h6 class="card-title">Book Reviews for <%= @book.title %></h6>
      <ul class="list-group list-group-flush">
        <% @book.reviews.recent(5).each do |review| %>
          <li class="list-group-item"><%= stars(review.rating) %> <br> <%= review.content %><br>Reviewed By: <%= review.user.username %><br><%= display_created_at(review.created_at)%><br></li>
        <% end %>
    </div>
    <div class="card-footer text-center bg-dark text-warning">
      <div> <%= link_to "View all Reviews", book_reviews_path(@book), class: "text-warning" %>
    </div>
  </div>  
  <% end %>
</div>

<% @book.lists.each do |list| %>
  <% if list.user == current_user %>
    <p>Reading List: <%= link_to list.name, list %></p>
  <% end %>
<% end %> 

<%#= form_with model: @book, local: true do |f| %>
  <%#= f.collection_check_boxes :list_ids, current_user.lists, :id, :name, :include_hidden => false  %>
  <%#= f.collection_select :list_ids, current_user.lists, :id, :name, :include_hidden => false  %>
  <%#= f.submit "Update Lists"%>
<%# end %>

<% if @book.can_edit_and_delete? %>
<%= button_to "Edit Book", edit_book_path(@book), method: :get %>
<%= button_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>

