<h1>Book Title: <%= @book.title %></h1>
<h2>Author: <%= @book.author %></h2>
<h3>Year Published: <%= @book.year_published %></h3>
<h3>Page Count: <%= @book.page_count %></h3>
<h4>Description:</h4>
<p><%= @book.description %></p>

<% @book.lists.each do |list| %>
  <% if list.user == current_user %>
    <p>Reading List: <%= link_to list.name, list %></p>
  <% end %>
<% end %> 

<%= form_with model: @book, local: true do |f| %>
  <%= f.collection_check_boxes :list_ids, current_user.lists, :id, :name, :include_hidden => false  %>
  <%#= f.collection_select :list_ids, current_user.lists, :id, :name, :include_hidden => false  %>
  <%= f.submit "Update Lists"%>
<% end %>

<% if @book.can_edit_and_delete? %>
<%= button_to "Edit Book", edit_book_path(@book), method: :get %>
<%= button_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>
<%= link_to "Reviews", book_reviews_path(@book) %><br> 
