<h1>Edit Your Review for: <%= @book.title%></h1>

<%= render 'form' %>

<%= button_to "Delete Review", book_review_path(@book, @review), method: :delete, data: { confirm: "Are you sure?"} %>

<%= link_to "Book Reviews", book_reviews_path(@book) %><br>
<%= link_to "View Book", book_path(@book) %><br>
<%= link_to "All Books", books_path %>