<h1>Reviews for <%= @book.title %></h1>

<ul>
<% @reviews.each do |review| %>
  <li>Rating: <%= review.rating %> - <%= review.content %></li>
<% end %>
</ul>


<%= link_to "View Book", book_path(@book) %><br>
<%= link_to "All Books", books_path %>