<h1>Reviews for <%= @book.title %></h1>

<% if @book.reviews.empty? %>
  <h3>There are no reviews yet for this book!</h3>
<% end %>

<ul>
  <% @reviews.each do |review| %>
    <li> Rating: <%= review.rating %> - <%= review.user.username %> says: <%= review.content %>
    <% if owns_resource?(review)%>
      <%= link_to "Edit", edit_book_review_path(@book, review) if review.book%>
    <% end %>
    </li>
  <% end %>
</ul>

<% if current_user.reviews.where(book_id: @book.id).empty? %>
  <%= link_to "Add Review", new_book_review_path %><br>
<% end %> 
<%= link_to "View Book", book_path(@book) %><br>
<%= link_to "All Books", books_path %>